.header {
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 10px;
}

.box {
    padding-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.tableName {
    font-weight: 700;
    font-size: 1.2em;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

.buttonRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.paper {
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.fullPageSkeleton {
    flex-grow: 1;
    height: 100vh;
    min-height: 100vh;
}